/build/
/nbproject/build-impl.xml
/nbproject/genfiles.properties
/nbproject/private/*
.DS_Store
build.xml
config.dat
data.json
jsontest.txt
jsontest_old.txt
test.xlsx
~$alysis.docx
~$quirements.docx
~WRL3668.tmp